:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #f5f5f5;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
}

body {
  background-color: var(--primary-bg-color);
}

a {
  text-decoration: none;
}

.address .text.point {
  color: var(--primary-white-color);
}

.address .text {
  color: rgba(255, 255, 255, 0.6);
}

.logo {
  font-family: "Raleway", sans-serif;
}

.web {
  color: var(--accent-color);
}

.logo .studio {
  color: var(--primary-black-color);
}

.logo .footer-studio {
  color: var(--primary-white-color);
}

.list {
  list-style: none;
  font-style: normal;
}

.site-nav .link {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.con-nav .link {
  color: var(--primary-text-color);
}

.con-nav .link:hover,
.con-nav .link:focus {
  color: var(--accent-color);
}
