:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #f5f5f5;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --primary-footer-text-color: rgba(255, 255, 255, 0.6);
  --primary-filter-bg-color: #f5f4fa;
}

body {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  font-family: "Roboto", sans-serif;
}
/* Logo */

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo .header-studio {
  color: var(--primary-black-color);
}

.logo .footer-studio {
  color: var(--primary-white-color);
}

/* List */

.list {
  list-style: none;
  font-style: normal;
}

/* Site nav */

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* Con nav */

.con-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.con-nav .link:hover,
.con-nav .link:focus {
  color: var(--accent-color);
}

/* Address */

.address .text {
  color: var(--primary-footer-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address .text:hover,
.address .text:focus {
  color: var(--primary-white-color);
}
