.hero .title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}

.benefits .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits .text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.section-team .text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.section-team .name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.hero-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

/* Main text color: #212121; */
/* Second text color: #757575; */
/* Accent: #2196F3 */
/* Header/Footer color: #2F303A */
/* White and Black #000000 #FFFFFF */
